@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
}

li, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.right-content {
  position: fixed;
  left: 270px;
  right: 0;
  top: 0;
  overflow: auto;
  bottom: 0;
  background: #E3E3F7;
}

.main-menu {
  position: fixed;
  width: 270px;
  height: 100%;
  background: #69A8CE;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), color-stop(0.35, rgba(78, 99, 255, 0.41)), to(#69a8ce));
}
.main-menu .header {
  line-height: 40px;
  text-align: center;
  color: #3C417D;
  background: rgba(182, 191, 255, 0.4);
  font-size: 20px;
}

.list-menu {
  position: absolute;
  left: 0;
  top: 45px;
  overflow: auto;
  bottom: 0;
  width: 200px;
}
.list-menu .menu-item {
  line-height: 50px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  color: rgba(58, 58, 58, 0.61);
}
.list-menu .menu-item.active {
  background: #7676FF;
  color: white;
}
.list-menu .menu-item a {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  cursor: pointer;
  text-indent: 0;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -ms-transition: all 200ms;
  transition: all 200ms;
}
.list-menu .menu-item a:hover {
  text-indent: 10px;
}
.list-menu .menu-item a:after {
  font-family: "rs-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\eb5c";
  line-height: 50px;
  float: right;
  width: 30px;
}
.list-menu .copyright {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
}
.list-menu .copyright a {
  color: rgba(11, 7, 247, 0.46);
  text-decoration: initial;
}

.sub-menu {
  top: 45px;
  overflow: auto;
  bottom: 0;
  position: absolute;
  border-left: 5px double #F9F9F9;
  border-right: 5px double #F9F9F9;
  left: 200px;
  width: 60px;
}

.personal-info {
  width: 200px;
  height: 200px;
  position: relative;
  font-size: 14px;
}
.personal-info .user-info {
  text-align: center;
}
.personal-info .user-info .user-name {
  color: white;
}
.personal-info .user-info .user-position:after {
  content: "】";
}
.personal-info .user-info .user-position:before {
  content: "【";
}
.personal-info .btn-fn {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  color: #777;
  font-size: 12px;
  text-align: center;
}
.personal-info .btn-fn .btn {
  display: inline-block;
  padding: 5px 10px;
  background: #eee;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.personal-info .btn-fn .btn-logout {
  margin-left: 10px;
}

.img-manager {
  width: 100px;
  heigth: 100px;
  margin: 25px auto;
  border-radius: 50px;
  display: block;
}

.sub-menu .menu-item {
  cursor: pointer;
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  line-height: 60px;
  text-align: center;
  background: #3C417D;
  color: rgba(249, 249, 249, 0.64);
  border-bottom: 3px solid #ddd;
}
.sub-menu .menu-item.active {
  text-shadow: 0px 0px 10px white;
  color: white;
}
.sub-menu .menu-item.active i {
  top: -60px;
  /*@include transition(all 200ms);*/
}
.sub-menu .menu-item.active a {
  top: 0;
  line-height: 1.2;
  /*// @include transition(all 800ms);*/
}
.sub-menu .menu-item i, .sub-menu .menu-item a {
  position: absolute;
  width: 60px;
  height: 60px;
  padding: 14px 0;
  display: block;
}
.sub-menu .menu-item i {
  font-size: 30px;
  top: 0;
  -webkit-transition: all 800ms;
  -moz-transition: all 800ms;
  -o-transition: all 800ms;
  -ms-transition: all 800ms;
  transition: all 800ms;
}
.sub-menu .menu-item a {
  top: 60px;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -ms-transition: all 200ms;
  transition: all 200ms;
}
.sub-menu .menu-item:hover i {
  top: -60px;
  /*@include transition(all 200ms);*/
}
.sub-menu .menu-item:hover a {
  top: 0;
  line-height: 1.2;
  /*// @include transition(all 800ms);*/
}

@font-face {
  font-family: 'rs-font';
  src: url("../fonts/rs-font.eot?6jnhpa");
  src: url("../fonts/rs-font.eot?6jnhpa#iefix") format("embedded-opentype"), url("../fonts/rs-font.ttf?6jnhpa") format("truetype"), url("../fonts/rs-font.woff?6jnhpa") format("woff"), url("../fonts/rs-font.svg?6jnhpa#rs-font") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="rs-"], [class*=" rs-"] {
  font-family: 'rs-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rs-number:before {
  content: "\e800";
}

.rs-number2:before {
  content: "\e801";
}

.rs-number3:before {
  content: "\e802";
}

.rs-number4:before {
  content: "\e803";
}

.rs-number5:before {
  content: "\e804";
}

.rs-number6:before {
  content: "\e805";
}

.rs-number7:before {
  content: "\e806";
}

.rs-number8:before {
  content: "\e807";
}

.rs-number9:before {
  content: "\e808";
}

.rs-number10:before {
  content: "\e809";
}

.rs-number11:before {
  content: "\e80a";
}

.rs-number12:before {
  content: "\e80b";
}

.rs-number13:before {
  content: "\e80c";
}

.rs-number14:before {
  content: "\e80d";
}

.rs-number15:before {
  content: "\e80e";
}

.rs-number16:before {
  content: "\e80f";
}

.rs-number17:before {
  content: "\e810";
}

.rs-number18:before {
  content: "\e811";
}

.rs-number19:before {
  content: "\e812";
}

.rs-number20:before {
  content: "\e813";
}

.rs-quote:before {
  content: "\e814";
}

.rs-quote2:before {
  content: "\e815";
}

.rs-tag:before {
  content: "\e816";
}

.rs-tag2:before {
  content: "\e817";
}

.rs-link:before {
  content: "\e818";
}

.rs-link2:before {
  content: "\e819";
}

.rs-cabinet:before {
  content: "\e81a";
}

.rs-cabinet2:before {
  content: "\e81b";
}

.rs-calendar:before {
  content: "\e81c";
}

.rs-calendar2:before {
  content: "\e81d";
}

.rs-calendar3:before {
  content: "\e81e";
}

.rs-file:before {
  content: "\e81f";
}

.rs-file2:before {
  content: "\e820";
}

.rs-file3:before {
  content: "\e821";
}

.rs-files:before {
  content: "\e822";
}

.rs-phone:before {
  content: "\e823";
}

.rs-tablet:before {
  content: "\e824";
}

.rs-window:before {
  content: "\e825";
}

.rs-monitor:before {
  content: "\e826";
}

.rs-ipod:before {
  content: "\e827";
}

.rs-tv:before {
  content: "\e828";
}

.rs-camera:before {
  content: "\e829";
}

.rs-camera2:before {
  content: "\e82a";
}

.rs-camera3:before {
  content: "\e82b";
}

.rs-film:before {
  content: "\e82c";
}

.rs-film2:before {
  content: "\e82d";
}

.rs-film3:before {
  content: "\e82e";
}

.rs-microphone:before {
  content: "\e82f";
}

.rs-microphone2:before {
  content: "\e830";
}

.rs-microphone3:before {
  content: "\e831";
}

.rs-drink:before {
  content: "\e832";
}

.rs-drink2:before {
  content: "\e833";
}

.rs-drink3:before {
  content: "\e834";
}

.rs-drink4:before {
  content: "\e835";
}

.rs-coffee:before {
  content: "\e836";
}

.rs-mug:before {
  content: "\e837";
}

.rs-icecream:before {
  content: "\e838";
}

.rs-cake:before {
  content: "\e839";
}

.rs-inbox:before {
  content: "\e83a";
}

.rs-download:before {
  content: "\e83b";
}

.rs-upload:before {
  content: "\e83c";
}

.rs-inbox2:before {
  content: "\e83d";
}

.rs-checkmark:before {
  content: "\e83e";
}

.rs-checkmark3:before {
  content: "\e83f";
}

.rs-cancel:before {
  content: "\e840";
}

.rs-cancel2:before {
  content: "\e841";
}

.rs-plus:before {
  content: "\e842";
}

.rs-plus2:before {
  content: "\e843";
}

.rs-minus:before {
  content: "\e844";
}

.rs-minus2:before {
  content: "\e845";
}

.rs-notice:before {
  content: "\e846";
}

.rs-notice2:before {
  content: "\e847";
}

.rs-cog:before {
  content: "\e848";
}

.rs-cogs:before {
  content: "\e849";
}

.rs-cog2:before {
  content: "\e84a";
}

.rs-warning:before {
  content: "\e84b";
}

.rs-health:before {
  content: "\e84c";
}

.rs-suitcase:before {
  content: "\e84d";
}

.rs-suitcase2:before {
  content: "\e84e";
}

.rs-suitcase3:before {
  content: "\e84f";
}

.rs-picture:before {
  content: "\e850";
}

.rs-pictures:before {
  content: "\e851";
}

.rs-pictures2:before {
  content: "\e852";
}

.rs-android:before {
  content: "\e853";
}

.rs-marvin:before {
  content: "\e854";
}

.rs-pacman:before {
  content: "\e855";
}

.rs-cassette:before {
  content: "\e856";
}

.rs-watch:before {
  content: "\e857";
}

.rs-chronometer:before {
  content: "\e858";
}

.rs-watch2:before {
  content: "\e859";
}

.rs-alarmclock:before {
  content: "\e85a";
}

.rs-time:before {
  content: "\e85b";
}

.rs-time2:before {
  content: "\e85c";
}

.rs-headphones:before {
  content: "\e85d";
}

.rs-wallet:before {
  content: "\e85e";
}

.rs-checkmark4:before {
  content: "\e85f";
}

.rs-cancel3:before {
  content: "\e860";
}

.rs-eye:before {
  content: "\e861";
}

.rs-position:before {
  content: "\e862";
}

.rs-sitemap:before {
  content: "\e863";
}

.rs-sitemap2:before {
  content: "\e864";
}

.rs-cloud:before {
  content: "\e865";
}

.rs-upload4:before {
  content: "\e866";
}

.rs-chart:before {
  content: "\e867";
}

.rs-chart2:before {
  content: "\e868";
}

.rs-chart3:before {
  content: "\e869";
}

.rs-chart4:before {
  content: "\e86a";
}

.rs-chart5:before {
  content: "\e86b";
}

.rs-chart6:before {
  content: "\e86c";
}

.rs-location:before {
  content: "\e86d";
}

.rs-download4:before {
  content: "\e86e";
}

.rs-basket:before {
  content: "\e86f";
}

.rs-folder:before {
  content: "\e870";
}

.rs-gamepad:before {
  content: "\e871";
}

.rs-alarm:before {
  content: "\e872";
}

.rs-alarm-cancel:before {
  content: "\e873";
}

.rs-phone2:before {
  content: "\e874";
}

.rs-phone3:before {
  content: "\e875";
}

.rs-image:before {
  content: "\e876";
}

.rs-open:before {
  content: "\e877";
}

.rs-sale:before {
  content: "\e878";
}

.rs-direction:before {
  content: "\e879";
}

.rs-map:before {
  content: "\e87a";
}

.rs-trashcan:before {
  content: "\e87b";
}

.rs-vote:before {
  content: "\e87c";
}

.rs-graduate:before {
  content: "\e87d";
}

.rs-lab:before {
  content: "\e87e";
}

.rs-tie:before {
  content: "\e87f";
}

.rs-football:before {
  content: "\e880";
}

.rs-eightball:before {
  content: "\e881";
}

.rs-bowling:before {
  content: "\e882";
}

.rs-bowlingpin:before {
  content: "\e883";
}

.rs-baseball:before {
  content: "\e884";
}

.rs-soccer:before {
  content: "\e885";
}

.rs-3dglasses:before {
  content: "\e886";
}

.rs-microwave:before {
  content: "\e887";
}

.rs-refrigerator:before {
  content: "\e888";
}

.rs-oven:before {
  content: "\e889";
}

.rs-washingmachine:before {
  content: "\e88a";
}

.rs-mouse:before {
  content: "\e88b";
}

.rs-smiley:before {
  content: "\e88c";
}

.rs-sad:before {
  content: "\e88d";
}

.rs-mute:before {
  content: "\e88e";
}

.rs-hand:before {
  content: "\e88f";
}

.rs-radio:before {
  content: "\e890";
}

.rs-satellite:before {
  content: "\e891";
}

.rs-medal:before {
  content: "\e892";
}

.rs-medal2:before {
  content: "\e893";
}

.rs-switch:before {
  content: "\e894";
}

.rs-key:before {
  content: "\e895";
}

.rs-cord:before {
  content: "\e896";
}

.rs-locked:before {
  content: "\e897";
}

.rs-unlocked:before {
  content: "\e898";
}

.rs-locked2:before {
  content: "\e899";
}

.rs-unlocked2:before {
  content: "\e89a";
}

.rs-magnifier:before {
  content: "\e89b";
}

.rs-zoomin:before {
  content: "\e89c";
}

.rs-zoomout:before {
  content: "\e89d";
}

.rs-stack:before {
  content: "\e89e";
}

.rs-stack2:before {
  content: "\e89f";
}

.rs-stack3:before {
  content: "\e8a0";
}

.rs-davidstar:before {
  content: "\e8a1";
}

.rs-cross:before {
  content: "\e8a2";
}

.rs-moonandstar:before {
  content: "\e8a3";
}

.rs-transformers:before {
  content: "\e8a4";
}

.rs-batman:before {
  content: "\e8a5";
}

.rs-spaceinvaders:before {
  content: "\e8a6";
}

.rs-skeletor:before {
  content: "\e8a7";
}

.rs-lamp:before {
  content: "\e8a8";
}

.rs-lamp2:before {
  content: "\e8a9";
}

.rs-umbrella:before {
  content: "\e8aa";
}

.rs-streetlight:before {
  content: "\e8ab";
}

.rs-bomb:before {
  content: "\e8ac";
}

.rs-archive:before {
  content: "\e8ad";
}

.rs-battery:before {
  content: "\e8ae";
}

.rs-battery2:before {
  content: "\e8af";
}

.rs-battery3:before {
  content: "\e8b0";
}

.rs-battery4:before {
  content: "\e8b1";
}

.rs-battery5:before {
  content: "\e8b2";
}

.rs-megaphone:before {
  content: "\e8b3";
}

.rs-megaphone2:before {
  content: "\e8b4";
}

.rs-patch:before {
  content: "\e8b5";
}

.rs-pil:before {
  content: "\e8b6";
}

.rs-injection:before {
  content: "\e8b7";
}

.rs-thermometer:before {
  content: "\e8b8";
}

.rs-lamp3:before {
  content: "\e8b9";
}

.rs-lamp4:before {
  content: "\e8ba";
}

.rs-lamp5:before {
  content: "\e8bb";
}

.rs-cube:before {
  content: "\e8bc";
}

.rs-box:before {
  content: "\e8bd";
}

.rs-box2:before {
  content: "\e8be";
}

.rs-diamond:before {
  content: "\e8bf";
}

.rs-bag:before {
  content: "\e8c0";
}

.rs-moneybag:before {
  content: "\e8c1";
}

.rs-grid:before {
  content: "\e8c2";
}

.rs-grid2:before {
  content: "\e8c3";
}

.rs-list:before {
  content: "\e8c4";
}

.rs-list3:before {
  content: "\e8c5";
}

.rs-ruler:before {
  content: "\e8c6";
}

.rs-ruler2:before {
  content: "\e8c7";
}

.rs-layout:before {
  content: "\e8c8";
}

.rs-layout2:before {
  content: "\e8c9";
}

.rs-layout3:before {
  content: "\e8ca";
}

.rs-layout4:before {
  content: "\e8cb";
}

.rs-layout5:before {
  content: "\e8cc";
}

.rs-layout6:before {
  content: "\e8cd";
}

.rs-layout7:before {
  content: "\e8ce";
}

.rs-layout8:before {
  content: "\e8cf";
}

.rs-layout9:before {
  content: "\e8d0";
}

.rs-layout10:before {
  content: "\e8d1";
}

.rs-layout11:before {
  content: "\e8d2";
}

.rs-layout12:before {
  content: "\e8d3";
}

.rs-layout13:before {
  content: "\e8d4";
}

.rs-layout14:before {
  content: "\e8d5";
}

.rs-tools:before {
  content: "\e8d6";
}

.rs-screwdriver:before {
  content: "\e8d7";
}

.rs-paint:before {
  content: "\e8d8";
}

.rs-hammer:before {
  content: "\e8d9";
}

.rs-brush:before {
  content: "\e8da";
}

.rs-pen:before {
  content: "\e8db";
}

.rs-chat:before {
  content: "\e8dc";
}

.rs-comments:before {
  content: "\e8dd";
}

.rs-chat2:before {
  content: "\e8de";
}

.rs-chat3:before {
  content: "\e8df";
}

.rs-volume:before {
  content: "\e8e0";
}

.rs-volume2:before {
  content: "\e8e1";
}

.rs-volume3:before {
  content: "\e8e2";
}

.rs-equalizer:before {
  content: "\e8e3";
}

.rs-resize:before {
  content: "\e8e4";
}

.rs-resize2:before {
  content: "\e8e5";
}

.rs-stretch:before {
  content: "\e8e6";
}

.rs-narrow:before {
  content: "\e8e7";
}

.rs-resize3:before {
  content: "\e8e8";
}

.rs-download5:before {
  content: "\e8e9";
}

.rs-calculator:before {
  content: "\e8ea";
}

.rs-library:before {
  content: "\e8eb";
}

.rs-auction:before {
  content: "\e8ec";
}

.rs-justice:before {
  content: "\e8ed";
}

.rs-stats:before {
  content: "\e8ee";
}

.rs-stats2:before {
  content: "\e8ef";
}

.rs-attachment:before {
  content: "\e8f0";
}

.rs-hourglass:before {
  content: "\e8f1";
}

.rs-abacus:before {
  content: "\e8f2";
}

.rs-pencil:before {
  content: "\e8f3";
}

.rs-pen2:before {
  content: "\e8f4";
}

.rs-pin:before {
  content: "\e8f5";
}

.rs-pin2:before {
  content: "\e8f6";
}

.rs-discout:before {
  content: "\e8f7";
}

.rs-edit:before {
  content: "\e8f8";
}

.rs-scissors:before {
  content: "\e8f9";
}

.rs-profile:before {
  content: "\e8fa";
}

.rs-profile2:before {
  content: "\e8fb";
}

.rs-profile3:before {
  content: "\e8fc";
}

.rs-rotate:before {
  content: "\e8fd";
}

.rs-rotate2:before {
  content: "\e8fe";
}

.rs-reply:before {
  content: "\e8ff";
}

.rs-forward:before {
  content: "\e900";
}

.rs-retweet:before {
  content: "\e901";
}

.rs-shuffle:before {
  content: "\e902";
}

.rs-loop:before {
  content: "\e903";
}

.rs-crop:before {
  content: "\e904";
}

.rs-square:before {
  content: "\e905";
}

.rs-square2:before {
  content: "\e906";
}

.rs-circle:before {
  content: "\e907";
}

.rs-dollar:before {
  content: "\e908";
}

.rs-dollar2:before {
  content: "\e909";
}

.rs-coins:before {
  content: "\e90a";
}

.rs-pig:before {
  content: "\e90b";
}

.rs-bookmark:before {
  content: "\e90c";
}

.rs-bookmark2:before {
  content: "\e90d";
}

.rs-addressbook:before {
  content: "\e90e";
}

.rs-addressbook2:before {
  content: "\e90f";
}

.rs-safe:before {
  content: "\e910";
}

.rs-envelope:before {
  content: "\e911";
}

.rs-envelope2:before {
  content: "\e912";
}

.rs-radioactive:before {
  content: "\e913";
}

.rs-music:before {
  content: "\e914";
}

.rs-presentation:before {
  content: "\e915";
}

.rs-male:before {
  content: "\e916";
}

.rs-female:before {
  content: "\e917";
}

.rs-aids:before {
  content: "\e918";
}

.rs-heart:before {
  content: "\e919";
}

.rs-info:before {
  content: "\e91a";
}

.rs-info2:before {
  content: "\e91b";
}

.rs-piano:before {
  content: "\e91c";
}

.rs-rain:before {
  content: "\e91d";
}

.rs-snow:before {
  content: "\e91e";
}

.rs-lightning:before {
  content: "\e91f";
}

.rs-sun:before {
  content: "\e920";
}

.rs-moon:before {
  content: "\e921";
}

.rs-cloudy:before {
  content: "\e922";
}

.rs-cloudy2:before {
  content: "\e923";
}

.rs-car:before {
  content: "\e924";
}

.rs-bike:before {
  content: "\e925";
}

.rs-truck:before {
  content: "\e926";
}

.rs-bus:before {
  content: "\e927";
}

.rs-bike2:before {
  content: "\e928";
}

.rs-plane:before {
  content: "\e929";
}

.rs-paperplane:before {
  content: "\e92a";
}

.rs-rocket:before {
  content: "\e92b";
}

.rs-book:before {
  content: "\e92c";
}

.rs-book2:before {
  content: "\e92d";
}

.rs-barcode:before {
  content: "\e92e";
}

.rs-barcode2:before {
  content: "\e92f";
}

.rs-expand:before {
  content: "\e930";
}

.rs-collapse:before {
  content: "\e931";
}

.rs-popout:before {
  content: "\e932";
}

.rs-popin:before {
  content: "\e933";
}

.rs-target:before {
  content: "\e934";
}

.rs-badge:before {
  content: "\e935";
}

.rs-badge2:before {
  content: "\e936";
}

.rs-ticket:before {
  content: "\e937";
}

.rs-ticket2:before {
  content: "\e938";
}

.rs-ticket3:before {
  content: "\e939";
}

.rs-microphone4:before {
  content: "\e93a";
}

.rs-cone:before {
  content: "\e93b";
}

.rs-blocked:before {
  content: "\e93c";
}

.rs-stop:before {
  content: "\e93d";
}

.rs-keyboard:before {
  content: "\e93e";
}

.rs-keyboard2:before {
  content: "\e93f";
}

.rs-radio2:before {
  content: "\e940";
}

.rs-printer:before {
  content: "\e941";
}

.rs-checked:before {
  content: "\e942";
}

.rs-error:before {
  content: "\e943";
}

.rs-add:before {
  content: "\e944";
}

.rs-minus3:before {
  content: "\e945";
}

.rs-alert:before {
  content: "\e946";
}

.rs-pictures3:before {
  content: "\e947";
}

.rs-atom:before {
  content: "\e948";
}

.rs-eyedropper:before {
  content: "\e949";
}

.rs-globe:before {
  content: "\e94a";
}

.rs-globe2:before {
  content: "\e94b";
}

.rs-shipping:before {
  content: "\e94c";
}

.rs-yingyang:before {
  content: "\e94d";
}

.rs-compass:before {
  content: "\e94e";
}

.rs-zip:before {
  content: "\e94f";
}

.rs-zip2:before {
  content: "\e950";
}

.rs-anchor:before {
  content: "\e951";
}

.rs-lockedheart:before {
  content: "\e952";
}

.rs-magnet:before {
  content: "\e953";
}

.rs-navigation:before {
  content: "\e954";
}

.rs-tags:before {
  content: "\e955";
}

.rs-heart2:before {
  content: "\e956";
}

.rs-heart3:before {
  content: "\e957";
}

.rs-usb:before {
  content: "\e958";
}

.rs-clipboard:before {
  content: "\e959";
}

.rs-clipboard2:before {
  content: "\e95a";
}

.rs-clipboard3:before {
  content: "\e95b";
}

.rs-switch2:before {
  content: "\e95c";
}

.rs-ruler3:before {
  content: "\e95d";
}

.rs-heart4:before {
  content: "\e95e";
}

.rs-cloud2:before {
  content: "\e95f";
}

.rs-star:before {
  content: "\e960";
}

.rs-tv2:before {
  content: "\e961";
}

.rs-sound:before {
  content: "\e962";
}

.rs-video:before {
  content: "\e963";
}

.rs-trash:before {
  content: "\e964";
}

.rs-user:before {
  content: "\e965";
}

.rs-key3:before {
  content: "\e966";
}

.rs-search:before {
  content: "\e967";
}

.rs-settings:before {
  content: "\e968";
}

.rs-camera4:before {
  content: "\e969";
}

.rs-tag3:before {
  content: "\e96a";
}

.rs-lock:before {
  content: "\e96b";
}

.rs-bulb:before {
  content: "\e96c";
}

.rs-pen3:before {
  content: "\e96d";
}

.rs-diamond2:before {
  content: "\e96e";
}

.rs-display:before {
  content: "\e96f";
}

.rs-location3:before {
  content: "\e970";
}

.rs-eye2:before {
  content: "\e971";
}

.rs-bubble:before {
  content: "\e972";
}

.rs-stack4:before {
  content: "\e973";
}

.rs-cup:before {
  content: "\e974";
}

.rs-phone4:before {
  content: "\e975";
}

.rs-news:before {
  content: "\e976";
}

.rs-mail:before {
  content: "\e977";
}

.rs-like:before {
  content: "\e978";
}

.rs-photo:before {
  content: "\e979";
}

.rs-note:before {
  content: "\e97a";
}

.rs-clock:before {
  content: "\e97b";
}

.rs-paperplane2:before {
  content: "\e97c";
}

.rs-params:before {
  content: "\e97d";
}

.rs-banknote:before {
  content: "\e97e";
}

.rs-data:before {
  content: "\e97f";
}

.rs-music2:before {
  content: "\e980";
}

.rs-megaphone3:before {
  content: "\e981";
}

.rs-study:before {
  content: "\e982";
}

.rs-lab2:before {
  content: "\e983";
}

.rs-food:before {
  content: "\e984";
}

.rs-t-shirt:before {
  content: "\e985";
}

.rs-fire:before {
  content: "\e986";
}

.rs-clip:before {
  content: "\e987";
}

.rs-shop:before {
  content: "\e988";
}

.rs-calendar4:before {
  content: "\e989";
}

.rs-wallet2:before {
  content: "\e98a";
}

.rs-vynil:before {
  content: "\e98b";
}

.rs-truck2:before {
  content: "\e98c";
}

.rs-world:before {
  content: "\e98d";
}

.rs-type:before {
  content: "\e98e";
}

.rs-box3:before {
  content: "\e98f";
}

.rs-archive2:before {
  content: "\e990";
}

.rs-envelope3:before {
  content: "\e991";
}

.rs-email:before {
  content: "\e992";
}

.rs-files2:before {
  content: "\e993";
}

.rs-uniE994:before {
  content: "\e994";
}

.rs-file-settings:before {
  content: "\e995";
}

.rs-file-add:before {
  content: "\e996";
}

.rs-file4:before {
  content: "\e997";
}

.rs-align-left:before {
  content: "\e998";
}

.rs-align-right:before {
  content: "\e999";
}

.rs-align-center:before {
  content: "\e99a";
}

.rs-align-justify:before {
  content: "\e99b";
}

.rs-file-broken:before {
  content: "\e99c";
}

.rs-browser:before {
  content: "\e99d";
}

.rs-windows:before {
  content: "\e99e";
}

.rs-window2:before {
  content: "\e99f";
}

.rs-folder2:before {
  content: "\e9a0";
}

.rs-folder-add:before {
  content: "\e9a1";
}

.rs-folder-settings:before {
  content: "\e9a2";
}

.rs-folder-check:before {
  content: "\e9a3";
}

.rs-wifi-low:before {
  content: "\e9a4";
}

.rs-wifi-mid:before {
  content: "\e9a5";
}

.rs-wifi-full:before {
  content: "\e9a6";
}

.rs-connection-empty:before {
  content: "\e9a7";
}

.rs-connection-25:before {
  content: "\e9a8";
}

.rs-connection-50:before {
  content: "\e9a9";
}

.rs-connection-75:before {
  content: "\e9aa";
}

.rs-connection-full:before {
  content: "\e9ab";
}

.rs-list4:before {
  content: "\e9ac";
}

.rs-grid3:before {
  content: "\e9ad";
}

.rs-uniE9AE:before {
  content: "\e9ae";
}

.rs-battery-charging:before {
  content: "\e9af";
}

.rs-battery-empty:before {
  content: "\e9b0";
}

.rs-battery-25:before {
  content: "\e9b1";
}

.rs-battery-50:before {
  content: "\e9b2";
}

.rs-battery-75:before {
  content: "\e9b3";
}

.rs-battery-full:before {
  content: "\e9b4";
}

.rs-settings2:before {
  content: "\e9b5";
}

.rs-arrow-left:before {
  content: "\e9b6";
}

.rs-arrow-up:before {
  content: "\e9b7";
}

.rs-arrow-down:before {
  content: "\e9b8";
}

.rs-arrow-right:before {
  content: "\e9b9";
}

.rs-reload:before {
  content: "\e9ba";
}

.rs-refresh:before {
  content: "\e9bb";
}

.rs-volume4:before {
  content: "\e9bc";
}

.rs-volume-increase:before {
  content: "\e9bd";
}

.rs-volume-decrease:before {
  content: "\e9be";
}

.rs-mute2:before {
  content: "\e9bf";
}

.rs-microphone5:before {
  content: "\e9c0";
}

.rs-microphone-off:before {
  content: "\e9c1";
}

.rs-book3:before {
  content: "\e9c2";
}

.rs-checkmark5:before {
  content: "\e9c3";
}

.rs-checkbox-checked:before {
  content: "\e9c4";
}

.rs-checkbox:before {
  content: "\e9c5";
}

.rs-paperclip:before {
  content: "\e9c6";
}

.rs-download6:before {
  content: "\e9c7";
}

.rs-tag4:before {
  content: "\e9c8";
}

.rs-trashcan2:before {
  content: "\e9c9";
}

.rs-search2:before {
  content: "\e9ca";
}

.rs-zoomin2:before {
  content: "\e9cb";
}

.rs-zoomout2:before {
  content: "\e9cc";
}

.rs-chat4:before {
  content: "\e9cd";
}

.rs-chat-1:before {
  content: "\e9ce";
}

.rs-chat-2:before {
  content: "\e9cf";
}

.rs-chat-3:before {
  content: "\e9d0";
}

.rs-comment:before {
  content: "\e9d1";
}

.rs-calendar5:before {
  content: "\e9d2";
}

.rs-bookmark3:before {
  content: "\e9d3";
}

.rs-email2:before {
  content: "\e9d4";
}

.rs-heart5:before {
  content: "\e9d5";
}

.rs-enter:before {
  content: "\e9d6";
}

.rs-cloud3:before {
  content: "\e9d7";
}

.rs-book4:before {
  content: "\e9d8";
}

.rs-star2:before {
  content: "\e9d9";
}

.rs-clock3:before {
  content: "\e9da";
}

.rs-printer2:before {
  content: "\e9db";
}

.rs-home:before {
  content: "\e9dc";
}

.rs-flag:before {
  content: "\e9dd";
}

.rs-meter:before {
  content: "\e9de";
}

.rs-switch3:before {
  content: "\e9df";
}

.rs-forbidden:before {
  content: "\e9e0";
}

.rs-lock2:before {
  content: "\e9e1";
}

.rs-unlocked3:before {
  content: "\e9e2";
}

.rs-unlocked4:before {
  content: "\e9e3";
}

.rs-users:before {
  content: "\e9e4";
}

.rs-user2:before {
  content: "\e9e5";
}

.rs-users2:before {
  content: "\e9e6";
}

.rs-user3:before {
  content: "\e9e7";
}

.rs-bullhorn:before {
  content: "\e9e8";
}

.rs-share:before {
  content: "\e9e9";
}

.rs-screen:before {
  content: "\e9ea";
}

.rs-phone5:before {
  content: "\e9eb";
}

.rs-phone-portrait:before {
  content: "\e9ec";
}

.rs-phone-landscape:before {
  content: "\e9ed";
}

.rs-tablet2:before {
  content: "\e9ee";
}

.rs-tablet-landscape:before {
  content: "\e9ef";
}

.rs-laptop:before {
  content: "\e9f0";
}

.rs-camera5:before {
  content: "\e9f1";
}

.rs-microwaveoven:before {
  content: "\e9f2";
}

.rs-creditcards:before {
  content: "\e9f3";
}

.rs-calculator2:before {
  content: "\e9f4";
}

.rs-bag2:before {
  content: "\e9f5";
}

.rs-diamond3:before {
  content: "\e9f6";
}

.rs-drink5:before {
  content: "\e9f7";
}

.rs-shorts:before {
  content: "\e9f8";
}

.rs-vcard:before {
  content: "\e9f9";
}

.rs-sun2:before {
  content: "\e9fa";
}

.rs-bill:before {
  content: "\e9fb";
}

.rs-coffee2:before {
  content: "\e9fc";
}

.rs-uniE9FD:before {
  content: "\e9fd";
}

.rs-newspaper:before {
  content: "\e9fe";
}

.rs-stack5:before {
  content: "\e9ff";
}

.rs-mapmarker:before {
  content: "\ea00";
}

.rs-map3:before {
  content: "\ea01";
}

.rs-support:before {
  content: "\ea02";
}

.rs-uniEA03:before {
  content: "\ea03";
}

.rs-barbell:before {
  content: "\ea04";
}

.rs-stopwatch:before {
  content: "\ea05";
}

.rs-atom2:before {
  content: "\ea06";
}

.rs-syringe:before {
  content: "\ea07";
}

.rs-health2:before {
  content: "\ea08";
}

.rs-bolt:before {
  content: "\ea09";
}

.rs-pill:before {
  content: "\ea0a";
}

.rs-bones:before {
  content: "\ea0b";
}

.rs-lab3:before {
  content: "\ea0c";
}

.rs-clipboard4:before {
  content: "\ea0d";
}

.rs-mug2:before {
  content: "\ea0e";
}

.rs-bucket:before {
  content: "\ea0f";
}

.rs-select:before {
  content: "\ea10";
}

.rs-graph:before {
  content: "\ea11";
}

.rs-crop2:before {
  content: "\ea12";
}

.rs-image2:before {
  content: "\ea13";
}

.rs-cube2:before {
  content: "\ea14";
}

.rs-bars:before {
  content: "\ea15";
}

.rs-chart7:before {
  content: "\ea16";
}

.rs-pencil3:before {
  content: "\ea17";
}

.rs-measure:before {
  content: "\ea18";
}

.rs-eyedropper2:before {
  content: "\ea19";
}

.rs-alert2:before {
  content: "\f02d";
}

.rs-alignment-align:before {
  content: "\f08a";
}

.rs-alignment-aligned-to:before {
  content: "\f08e";
}

.rs-alignment-unalign:before {
  content: "\f08b";
}

.rs-arrow-down3:before {
  content: "\f03f";
}

.rs-arrow-left3:before {
  content: "\f040";
}

.rs-arrow-right3:before {
  content: "\f03e";
}

.rs-arrow-small-down:before {
  content: "\f0a0";
}

.rs-arrow-small-left:before {
  content: "\f0a1";
}

.rs-arrow-small-right:before {
  content: "\f071";
}

.rs-arrow-small-up:before {
  content: "\f09f";
}

.rs-arrow-up3:before {
  content: "\f03d";
}

.rs-beer:before {
  content: "\f069";
}

.rs-book5:before {
  content: "\f007";
}

.rs-bookmark4:before {
  content: "\f07b";
}

.rs-briefcase:before {
  content: "\f0d3";
}

.rs-broadcast:before {
  content: "\f048";
}

.rs-browser2:before {
  content: "\f0c5";
}

.rs-bug:before {
  content: "\f091";
}

.rs-calendar6:before {
  content: "\f068";
}

.rs-check:before {
  content: "\f03a";
}

.rs-checklist:before {
  content: "\f076";
}

.rs-chevron-down:before {
  content: "\f0a3";
}

.rs-chevron-left:before {
  content: "\f0a4";
}

.rs-chevron-right:before {
  content: "\f078";
}

.rs-chevron-up:before {
  content: "\f0a2";
}

.rs-circle-slash:before {
  content: "\f084";
}

.rs-circuit-board:before {
  content: "\f0d6";
}

.rs-clippy:before {
  content: "\f035";
}

.rs-clock4:before {
  content: "\f046";
}

.rs-cloud-download:before {
  content: "\f00b";
}

.rs-cloud-upload:before {
  content: "\f00c";
}

.rs-code:before {
  content: "\f05f";
}

.rs-color-mode:before {
  content: "\f065";
}

.rs-comment2:before {
  content: "\f02b";
}

.rs-comment-discussion:before {
  content: "\f04f";
}

.rs-credit-card:before {
  content: "\f045";
}

.rs-dash:before {
  content: "\f0ca";
}

.rs-dashboard:before {
  content: "\f07d";
}

.rs-database:before {
  content: "\f096";
}

.rs-device-camera:before {
  content: "\f056";
}

.rs-device-camera-video:before {
  content: "\f057";
}

.rs-device-desktop:before {
  content: "\f27c";
}

.rs-device-mobile:before {
  content: "\f038";
}

.rs-diff:before {
  content: "\f04d";
}

.rs-diff-added:before {
  content: "\f06b";
}

.rs-diff-ignored:before {
  content: "\f099";
}

.rs-diff-modified:before {
  content: "\f06d";
}

.rs-diff-removed:before {
  content: "\f06c";
}

.rs-diff-renamed:before {
  content: "\f06e";
}

.rs-ellipsis:before {
  content: "\f09a";
}

.rs-eye3:before {
  content: "\f04e";
}

.rs-file-binary:before {
  content: "\f094";
}

.rs-file-code:before {
  content: "\f010";
}

.rs-file-directory:before {
  content: "\f016";
}

.rs-file-media:before {
  content: "\f012";
}

.rs-file-pdf:before {
  content: "\f014";
}

.rs-file-submodule:before {
  content: "\f017";
}

.rs-file-symlink-directory:before {
  content: "\f0b1";
}

.rs-file-symlink-file:before {
  content: "\f0b0";
}

.rs-file-text:before {
  content: "\f011";
}

.rs-file-zip:before {
  content: "\f013";
}

.rs-flame:before {
  content: "\f0d2";
}

.rs-fold:before {
  content: "\f0cc";
}

.rs-gear:before {
  content: "\f02f";
}

.rs-gift:before {
  content: "\f042";
}

.rs-gist:before {
  content: "\f00e";
}

.rs-gist-secret:before {
  content: "\f08c";
}

.rs-git-branch:before {
  content: "\f020";
}

.rs-git-commit:before {
  content: "\f01f";
}

.rs-git-compare:before {
  content: "\f0ac";
}

.rs-git-merge:before {
  content: "\f023";
}

.rs-git-pull-request:before {
  content: "\f009";
}

.rs-globe3:before {
  content: "\f0b6";
}

.rs-graph2:before {
  content: "\f043";
}

.rs-heart6:before {
  content: "\2665";
}

.rs-history:before {
  content: "\f07e";
}

.rs-home4:before {
  content: "\f08d";
}

.rs-horizontal-rule:before {
  content: "\f070";
}

.rs-hourglass2:before {
  content: "\f09e";
}

.rs-hubot:before {
  content: "\f09d";
}

.rs-inbox3:before {
  content: "\f0cf";
}

.rs-info3:before {
  content: "\f059";
}

.rs-issue-closed:before {
  content: "\f028";
}

.rs-issue-opened:before {
  content: "\f026";
}

.rs-issue-reopened:before {
  content: "\f027";
}

.rs-jersey:before {
  content: "\f019";
}

.rs-jump-down:before {
  content: "\f072";
}

.rs-jump-left:before {
  content: "\f0a5";
}

.rs-jump-right:before {
  content: "\f0a6";
}

.rs-jump-up:before {
  content: "\f073";
}

.rs-key4:before {
  content: "\f049";
}

.rs-keyboard3:before {
  content: "\f00d";
}

.rs-law:before {
  content: "\f0d8";
}

.rs-light-bulb:before {
  content: "\f000";
}

.rs-link3:before {
  content: "\f05c";
}

.rs-link-external:before {
  content: "\f07f";
}

.rs-list-ordered:before {
  content: "\f062";
}

.rs-list-unordered:before {
  content: "\f061";
}

.rs-location4:before {
  content: "\f060";
}

.rs-lock3:before {
  content: "\f06a";
}

.rs-logo-github:before {
  content: "\f092";
}

.rs-mail5:before {
  content: "\f03b";
}

.rs-mail-read:before {
  content: "\f03c";
}

.rs-mail-reply:before {
  content: "\f051";
}

.rs-mark-github:before {
  content: "\f00a";
}

.rs-markdown:before {
  content: "\f0c9";
}

.rs-megaphone4:before {
  content: "\f077";
}

.rs-mention:before {
  content: "\f0be";
}

.rs-microscope:before {
  content: "\f089";
}

.rs-milestone:before {
  content: "\f075";
}

.rs-mirror:before {
  content: "\f024";
}

.rs-mortar-board:before {
  content: "\f0d7";
}

.rs-move-down:before {
  content: "\f0a8";
}

.rs-move-left:before {
  content: "\f074";
}

.rs-move-right:before {
  content: "\f0a9";
}

.rs-move-up:before {
  content: "\f0a7";
}

.rs-mute3:before {
  content: "\f080";
}

.rs-no-newline:before {
  content: "\f09c";
}

.rs-octoface:before {
  content: "\f008";
}

.rs-organization:before {
  content: "\f037";
}

.rs-package:before {
  content: "\f0c4";
}

.rs-paintcan:before {
  content: "\f0d1";
}

.rs-pencil4:before {
  content: "\f058";
}

.rs-person:before {
  content: "\f018";
}

.rs-pin3:before {
  content: "\f041";
}

.rs-playback-fast-forward:before {
  content: "\f0bd";
}

.rs-playback-pause:before {
  content: "\f0bb";
}

.rs-playback-play:before {
  content: "\f0bf";
}

.rs-playback-rewind:before {
  content: "\f0bc";
}

.rs-plug:before {
  content: "\f0d4";
}

.rs-plus3:before {
  content: "\f05d";
}

.rs-podium:before {
  content: "\f0af";
}

.rs-primitive-dot:before {
  content: "\f052";
}

.rs-primitive-square:before {
  content: "\f053";
}

.rs-pulse:before {
  content: "\f085";
}

.rs-puzzle:before {
  content: "\f0c0";
}

.rs-question:before {
  content: "\f02c";
}

.rs-quote3:before {
  content: "\f063";
}

.rs-radio-tower:before {
  content: "\f030";
}

.rs-repo:before {
  content: "\f001";
}

.rs-repo-clone:before {
  content: "\f04c";
}

.rs-repo-force-push:before {
  content: "\f04a";
}

.rs-repo-forked:before {
  content: "\f002";
}

.rs-repo-pull:before {
  content: "\f006";
}

.rs-repo-push:before {
  content: "\f005";
}

.rs-rocket2:before {
  content: "\f033";
}

.rs-rss:before {
  content: "\f034";
}

.rs-ruby:before {
  content: "\f047";
}

.rs-screen-full:before {
  content: "\f066";
}

.rs-screen-normal:before {
  content: "\f067";
}

.rs-search3:before {
  content: "\f02e";
}

.rs-server:before {
  content: "\f097";
}

.rs-settings3:before {
  content: "\f07c";
}

.rs-sign-in:before {
  content: "\f036";
}

.rs-sign-out:before {
  content: "\f032";
}

.rs-split:before {
  content: "\f0c6";
}

.rs-squirrel:before {
  content: "\f0b2";
}

.rs-star3:before {
  content: "\f02a";
}

.rs-steps:before {
  content: "\f0c7";
}

.rs-stop3:before {
  content: "\f08f";
}

.rs-sync:before {
  content: "\f087";
}

.rs-tag5:before {
  content: "\f015";
}

.rs-telescope:before {
  content: "\f088";
}

.rs-terminal:before {
  content: "\f0c8";
}

.rs-three-bars:before {
  content: "\f05e";
}

.rs-tools2:before {
  content: "\f031";
}

.rs-trashcan3:before {
  content: "\f0d0";
}

.rs-triangle-down:before {
  content: "\f05b";
}

.rs-triangle-left:before {
  content: "\f044";
}

.rs-triangle-right:before {
  content: "\f05a";
}

.rs-triangle-up:before {
  content: "\f0aa";
}

.rs-unfold:before {
  content: "\f039";
}

.rs-unmute:before {
  content: "\f0ba";
}

.rs-versions:before {
  content: "\f064";
}

.rs-x:before {
  content: "\f081";
}

.rs-zap:before {
  content: "\26a1";
}

.rs-home5:before {
  content: "\ea1a";
}

.rs-home2:before {
  content: "\ea1b";
}

.rs-home3:before {
  content: "\ea1c";
}

.rs-office:before {
  content: "\ea1d";
}

.rs-newspaper2:before {
  content: "\ea1e";
}

.rs-pencil5:before {
  content: "\ea1f";
}

.rs-pencil2:before {
  content: "\ea20";
}

.rs-quill:before {
  content: "\ea21";
}

.rs-pen4:before {
  content: "\ea22";
}

.rs-blog:before {
  content: "\ea23";
}

.rs-eyedropper3:before {
  content: "\ea24";
}

.rs-droplet:before {
  content: "\ea25";
}

.rs-paint-format:before {
  content: "\ea26";
}

.rs-image3:before {
  content: "\ea27";
}

.rs-images:before {
  content: "\ea28";
}

.rs-camera6:before {
  content: "\ea29";
}

.rs-headphones2:before {
  content: "\ea2a";
}

.rs-music3:before {
  content: "\ea2b";
}

.rs-play:before {
  content: "\ea2c";
}

.rs-film4:before {
  content: "\ea2d";
}

.rs-video-camera:before {
  content: "\ea2e";
}

.rs-dice:before {
  content: "\ea2f";
}

.rs-pacman2:before {
  content: "\ea30";
}

.rs-spades:before {
  content: "\ea31";
}

.rs-clubs:before {
  content: "\ea32";
}

.rs-diamonds:before {
  content: "\ea33";
}

.rs-bullhorn2:before {
  content: "\ea34";
}

.rs-connection:before {
  content: "\ea35";
}

.rs-podcast:before {
  content: "\ea36";
}

.rs-feed:before {
  content: "\ea37";
}

.rs-mic:before {
  content: "\ea38";
}

.rs-book6:before {
  content: "\ea39";
}

.rs-books:before {
  content: "\ea3a";
}

.rs-library2:before {
  content: "\ea3b";
}

.rs-file-text3:before {
  content: "\ea3c";
}

.rs-profile4:before {
  content: "\ea3d";
}

.rs-file-empty:before {
  content: "\ea3e";
}

.rs-files-empty:before {
  content: "\ea3f";
}

.rs-file-text2:before {
  content: "\ea40";
}

.rs-file-picture:before {
  content: "\ea41";
}

.rs-file-music:before {
  content: "\ea42";
}

.rs-file-play:before {
  content: "\ea43";
}

.rs-file-video:before {
  content: "\ea44";
}

.rs-file-zip2:before {
  content: "\ea45";
}

.rs-copy:before {
  content: "\ea46";
}

.rs-paste:before {
  content: "\ea47";
}

.rs-stack6:before {
  content: "\ea48";
}

.rs-folder3:before {
  content: "\ea49";
}

.rs-folder-open:before {
  content: "\ea4a";
}

.rs-folder-plus:before {
  content: "\ea4b";
}

.rs-folder-minus:before {
  content: "\ea4c";
}

.rs-folder-download:before {
  content: "\ea4d";
}

.rs-folder-upload:before {
  content: "\ea4e";
}

.rs-price-tag:before {
  content: "\ea4f";
}

.rs-price-tags:before {
  content: "\ea50";
}

.rs-barcode3:before {
  content: "\ea51";
}

.rs-qrcode:before {
  content: "\ea52";
}

.rs-ticket4:before {
  content: "\ea53";
}

.rs-cart:before {
  content: "\ea54";
}

.rs-coin-dollar:before {
  content: "\ea55";
}

.rs-coin-euro:before {
  content: "\ea56";
}

.rs-coin-pound:before {
  content: "\ea57";
}

.rs-coin-yen:before {
  content: "\ea58";
}

.rs-credit-card2:before {
  content: "\ea59";
}

.rs-calculator3:before {
  content: "\ea5a";
}

.rs-lifebuoy:before {
  content: "\ea5b";
}

.rs-phone6:before {
  content: "\ea5c";
}

.rs-phone-hang-up:before {
  content: "\ea5d";
}

.rs-address-book:before {
  content: "\ea5e";
}

.rs-envelop:before {
  content: "\ea5f";
}

.rs-pushpin:before {
  content: "\ea60";
}

.rs-location5:before {
  content: "\ea61";
}

.rs-location2:before {
  content: "\ea62";
}

.rs-compass3:before {
  content: "\ea63";
}

.rs-compass2:before {
  content: "\ea64";
}

.rs-map4:before {
  content: "\ea65";
}

.rs-map2:before {
  content: "\ea66";
}

.rs-history2:before {
  content: "\ea67";
}

.rs-clock5:before {
  content: "\ea68";
}

.rs-clock2:before {
  content: "\ea69";
}

.rs-alarm2:before {
  content: "\ea6a";
}

.rs-bell:before {
  content: "\ea6b";
}

.rs-stopwatch2:before {
  content: "\ea6c";
}

.rs-calendar7:before {
  content: "\ea6d";
}

.rs-printer3:before {
  content: "\ea6e";
}

.rs-keyboard4:before {
  content: "\ea6f";
}

.rs-display2:before {
  content: "\ea70";
}

.rs-laptop2:before {
  content: "\ea71";
}

.rs-mobile:before {
  content: "\ea72";
}

.rs-mobile2:before {
  content: "\ea73";
}

.rs-tablet3:before {
  content: "\ea74";
}

.rs-tv3:before {
  content: "\ea75";
}

.rs-drawer:before {
  content: "\ea76";
}

.rs-drawer2:before {
  content: "\ea77";
}

.rs-box-add:before {
  content: "\ea78";
}

.rs-box-remove:before {
  content: "\ea79";
}

.rs-download7:before {
  content: "\ea7a";
}

.rs-upload5:before {
  content: "\ea7b";
}

.rs-floppy-disk:before {
  content: "\ea7c";
}

.rs-drive:before {
  content: "\ea7d";
}

.rs-database2:before {
  content: "\ea7e";
}

.rs-undo:before {
  content: "\ea7f";
}

.rs-redo:before {
  content: "\ea80";
}

.rs-undo2:before {
  content: "\ea81";
}

.rs-redo2:before {
  content: "\ea82";
}

.rs-forward4:before {
  content: "\ea83";
}

.rs-reply2:before {
  content: "\ea84";
}

.rs-bubble3:before {
  content: "\ea85";
}

.rs-bubbles:before {
  content: "\ea86";
}

.rs-bubbles2:before {
  content: "\ea87";
}

.rs-bubble2:before {
  content: "\ea88";
}

.rs-bubbles3:before {
  content: "\ea89";
}

.rs-bubbles4:before {
  content: "\ea8a";
}

.rs-user4:before {
  content: "\ea8b";
}

.rs-users3:before {
  content: "\ea8c";
}

.rs-user-plus:before {
  content: "\ea8d";
}

.rs-user-minus:before {
  content: "\ea8e";
}

.rs-user-check:before {
  content: "\ea8f";
}

.rs-user-tie:before {
  content: "\ea90";
}

.rs-quotes-left:before {
  content: "\ea91";
}

.rs-quotes-right:before {
  content: "\ea92";
}

.rs-hour-glass:before {
  content: "\ea93";
}

.rs-spinner:before {
  content: "\ea94";
}

.rs-spinner2:before {
  content: "\ea95";
}

.rs-spinner3:before {
  content: "\ea96";
}

.rs-spinner4:before {
  content: "\ea97";
}

.rs-spinner5:before {
  content: "\ea98";
}

.rs-spinner6:before {
  content: "\ea99";
}

.rs-spinner7:before {
  content: "\ea9a";
}

.rs-spinner8:before {
  content: "\ea9b";
}

.rs-spinner9:before {
  content: "\ea9c";
}

.rs-spinner10:before {
  content: "\ea9d";
}

.rs-spinner11:before {
  content: "\ea9e";
}

.rs-binoculars:before {
  content: "\ea9f";
}

.rs-search4:before {
  content: "\eaa0";
}

.rs-zoom-in:before {
  content: "\eaa1";
}

.rs-zoom-out:before {
  content: "\eaa2";
}

.rs-enlarge:before {
  content: "\eaa3";
}

.rs-shrink:before {
  content: "\eaa4";
}

.rs-enlarge2:before {
  content: "\eaa5";
}

.rs-shrink2:before {
  content: "\eaa6";
}

.rs-key5:before {
  content: "\eaa7";
}

.rs-key2:before {
  content: "\eaa8";
}

.rs-lock4:before {
  content: "\eaa9";
}

.rs-unlocked5:before {
  content: "\eaaa";
}

.rs-wrench:before {
  content: "\eaab";
}

.rs-equalizer3:before {
  content: "\eaac";
}

.rs-equalizer2:before {
  content: "\eaad";
}

.rs-cog3:before {
  content: "\eaae";
}

.rs-cogs2:before {
  content: "\eaaf";
}

.rs-hammer3:before {
  content: "\eab0";
}

.rs-magic-wand:before {
  content: "\eab1";
}

.rs-aid-kit:before {
  content: "\eab2";
}

.rs-bug2:before {
  content: "\eab3";
}

.rs-pie-chart:before {
  content: "\eab4";
}

.rs-stats-dots:before {
  content: "\eab5";
}

.rs-stats-bars:before {
  content: "\eab6";
}

.rs-stats-bars2:before {
  content: "\eab7";
}

.rs-trophy:before {
  content: "\eab8";
}

.rs-gift2:before {
  content: "\eab9";
}

.rs-glass:before {
  content: "\eaba";
}

.rs-glass2:before {
  content: "\eabb";
}

.rs-mug3:before {
  content: "\eabc";
}

.rs-spoon-knife:before {
  content: "\eabd";
}

.rs-leaf:before {
  content: "\eabe";
}

.rs-rocket3:before {
  content: "\eabf";
}

.rs-meter3:before {
  content: "\eac0";
}

.rs-meter2:before {
  content: "\eac1";
}

.rs-hammer2:before {
  content: "\eac2";
}

.rs-fire2:before {
  content: "\eac3";
}

.rs-lab4:before {
  content: "\eac4";
}

.rs-magnet2:before {
  content: "\eac5";
}

.rs-bin:before {
  content: "\eac6";
}

.rs-bin2:before {
  content: "\eac7";
}

.rs-briefcase2:before {
  content: "\eac8";
}

.rs-airplane:before {
  content: "\eac9";
}

.rs-truck3:before {
  content: "\eaca";
}

.rs-road:before {
  content: "\eacb";
}

.rs-accessibility:before {
  content: "\eacc";
}

.rs-target2:before {
  content: "\eacd";
}

.rs-shield:before {
  content: "\eace";
}

.rs-power:before {
  content: "\eacf";
}

.rs-switch4:before {
  content: "\ead0";
}

.rs-power-cord:before {
  content: "\ead1";
}

.rs-clipboard5:before {
  content: "\ead2";
}

.rs-list-numbered:before {
  content: "\ead3";
}

.rs-list5:before {
  content: "\ead4";
}

.rs-list2:before {
  content: "\ead5";
}

.rs-tree:before {
  content: "\ead6";
}

.rs-menu:before {
  content: "\ead7";
}

.rs-menu2:before {
  content: "\ead8";
}

.rs-menu3:before {
  content: "\ead9";
}

.rs-menu4:before {
  content: "\eada";
}

.rs-cloud4:before {
  content: "\eadb";
}

.rs-cloud-download2:before {
  content: "\eadc";
}

.rs-cloud-upload2:before {
  content: "\eadd";
}

.rs-cloud-check:before {
  content: "\eade";
}

.rs-download2:before {
  content: "\eadf";
}

.rs-upload2:before {
  content: "\eae0";
}

.rs-download3:before {
  content: "\eae1";
}

.rs-upload3:before {
  content: "\eae2";
}

.rs-sphere:before {
  content: "\eae3";
}

.rs-earth:before {
  content: "\eae4";
}

.rs-link4:before {
  content: "\eae5";
}

.rs-flag2:before {
  content: "\eae6";
}

.rs-attachment2:before {
  content: "\eae7";
}

.rs-eye4:before {
  content: "\eae8";
}

.rs-eye-plus:before {
  content: "\eae9";
}

.rs-eye-minus:before {
  content: "\eaea";
}

.rs-eye-blocked:before {
  content: "\eaeb";
}

.rs-bookmark5:before {
  content: "\eaec";
}

.rs-bookmarks:before {
  content: "\eaed";
}

.rs-sun3:before {
  content: "\eaee";
}

.rs-contrast:before {
  content: "\eaef";
}

.rs-brightness-contrast:before {
  content: "\eaf0";
}

.rs-star-empty:before {
  content: "\eaf1";
}

.rs-star-half:before {
  content: "\eaf2";
}

.rs-star-full:before {
  content: "\eaf3";
}

.rs-heart7:before {
  content: "\eaf4";
}

.rs-heart-broken:before {
  content: "\eaf5";
}

.rs-man:before {
  content: "\eaf6";
}

.rs-woman:before {
  content: "\eaf7";
}

.rs-man-woman:before {
  content: "\eaf8";
}

.rs-happy:before {
  content: "\eaf9";
}

.rs-happy2:before {
  content: "\eafa";
}

.rs-smile:before {
  content: "\eafb";
}

.rs-smile2:before {
  content: "\eafc";
}

.rs-tongue:before {
  content: "\eafd";
}

.rs-tongue2:before {
  content: "\eafe";
}

.rs-sad3:before {
  content: "\eaff";
}

.rs-sad2:before {
  content: "\eb00";
}

.rs-wink:before {
  content: "\eb01";
}

.rs-wink2:before {
  content: "\eb02";
}

.rs-grin:before {
  content: "\eb03";
}

.rs-grin2:before {
  content: "\eb04";
}

.rs-cool:before {
  content: "\eb05";
}

.rs-cool2:before {
  content: "\eb06";
}

.rs-angry:before {
  content: "\eb07";
}

.rs-angry2:before {
  content: "\eb08";
}

.rs-evil:before {
  content: "\eb09";
}

.rs-evil2:before {
  content: "\eb0a";
}

.rs-shocked:before {
  content: "\eb0b";
}

.rs-shocked2:before {
  content: "\eb0c";
}

.rs-baffled:before {
  content: "\eb0d";
}

.rs-baffled2:before {
  content: "\eb0e";
}

.rs-confused:before {
  content: "\eb0f";
}

.rs-confused2:before {
  content: "\eb10";
}

.rs-neutral:before {
  content: "\eb11";
}

.rs-neutral2:before {
  content: "\eb12";
}

.rs-hipster:before {
  content: "\eb13";
}

.rs-hipster2:before {
  content: "\eb14";
}

.rs-wondering:before {
  content: "\eb15";
}

.rs-wondering2:before {
  content: "\eb16";
}

.rs-sleepy:before {
  content: "\eb17";
}

.rs-sleepy2:before {
  content: "\eb18";
}

.rs-frustrated:before {
  content: "\eb19";
}

.rs-frustrated2:before {
  content: "\eb1a";
}

.rs-crying:before {
  content: "\eb1b";
}

.rs-crying2:before {
  content: "\eb1c";
}

.rs-point-up:before {
  content: "\eb1d";
}

.rs-point-right:before {
  content: "\eb1e";
}

.rs-point-down:before {
  content: "\eb1f";
}

.rs-point-left:before {
  content: "\eb20";
}

.rs-warning2:before {
  content: "\eb21";
}

.rs-notification:before {
  content: "\eb22";
}

.rs-question2:before {
  content: "\eb23";
}

.rs-plus4:before {
  content: "\eb24";
}

.rs-minus4:before {
  content: "\eb25";
}

.rs-info4:before {
  content: "\eb26";
}

.rs-cancel-circle:before {
  content: "\eb27";
}

.rs-blocked2:before {
  content: "\eb28";
}

.rs-cross2:before {
  content: "\eb29";
}

.rs-checkmark6:before {
  content: "\eb2a";
}

.rs-checkmark2:before {
  content: "\eb2b";
}

.rs-spell-check:before {
  content: "\eb2c";
}

.rs-enter2:before {
  content: "\eb2d";
}

.rs-exit:before {
  content: "\eb2e";
}

.rs-play2:before {
  content: "\eb2f";
}

.rs-pause:before {
  content: "\eb30";
}

.rs-stop4:before {
  content: "\eb31";
}

.rs-previous:before {
  content: "\eb32";
}

.rs-next:before {
  content: "\eb33";
}

.rs-backward:before {
  content: "\eb34";
}

.rs-forward2:before {
  content: "\eb35";
}

.rs-play3:before {
  content: "\eb36";
}

.rs-pause2:before {
  content: "\eb37";
}

.rs-stop2:before {
  content: "\eb38";
}

.rs-backward2:before {
  content: "\eb39";
}

.rs-forward3:before {
  content: "\eb3a";
}

.rs-first:before {
  content: "\eb3b";
}

.rs-last:before {
  content: "\eb3c";
}

.rs-previous2:before {
  content: "\eb3d";
}

.rs-next2:before {
  content: "\eb3e";
}

.rs-eject:before {
  content: "\eb3f";
}

.rs-volume-high:before {
  content: "\eb40";
}

.rs-volume-medium:before {
  content: "\eb41";
}

.rs-volume-low:before {
  content: "\eb42";
}

.rs-volume-mute:before {
  content: "\eb43";
}

.rs-volume-mute2:before {
  content: "\eb44";
}

.rs-volume-increase2:before {
  content: "\eb45";
}

.rs-volume-decrease2:before {
  content: "\eb46";
}

.rs-loop3:before {
  content: "\eb47";
}

.rs-loop2:before {
  content: "\eb48";
}

.rs-infinite:before {
  content: "\eb49";
}

.rs-shuffle2:before {
  content: "\eb4a";
}

.rs-arrow-up-left:before {
  content: "\eb4b";
}

.rs-arrow-up4:before {
  content: "\eb4c";
}

.rs-arrow-up-right:before {
  content: "\eb4d";
}

.rs-arrow-right4:before {
  content: "\eb4e";
}

.rs-arrow-down-right:before {
  content: "\eb4f";
}

.rs-arrow-down4:before {
  content: "\eb50";
}

.rs-arrow-down-left:before {
  content: "\eb51";
}

.rs-arrow-left4:before {
  content: "\eb52";
}

.rs-arrow-up-left2:before {
  content: "\eb53";
}

.rs-arrow-up2:before {
  content: "\eb54";
}

.rs-arrow-up-right2:before {
  content: "\eb55";
}

.rs-arrow-right2:before {
  content: "\eb56";
}

.rs-arrow-down-right2:before {
  content: "\eb57";
}

.rs-arrow-down2:before {
  content: "\eb58";
}

.rs-arrow-down-left2:before {
  content: "\eb59";
}

.rs-arrow-left2:before {
  content: "\eb5a";
}

.rs-circle-up:before {
  content: "\eb5b";
}

.rs-circle-right:before {
  content: "\eb5c";
}

.rs-circle-down:before {
  content: "\eb5d";
}

.rs-circle-left:before {
  content: "\eb5e";
}

.rs-tab:before {
  content: "\eb5f";
}

.rs-move-up2:before {
  content: "\eb60";
}

.rs-move-down2:before {
  content: "\eb61";
}

.rs-sort-alpha-asc:before {
  content: "\eb62";
}

.rs-sort-alpha-desc:before {
  content: "\eb63";
}

.rs-sort-numeric-asc:before {
  content: "\eb64";
}

.rs-sort-numberic-desc:before {
  content: "\eb65";
}

.rs-sort-amount-asc:before {
  content: "\eb66";
}

.rs-sort-amount-desc:before {
  content: "\eb67";
}

.rs-command:before {
  content: "\eb68";
}

.rs-shift:before {
  content: "\eb69";
}

.rs-ctrl:before {
  content: "\eb6a";
}

.rs-opt:before {
  content: "\eb6b";
}

.rs-checkbox-checked2:before {
  content: "\eb6c";
}

.rs-checkbox-unchecked:before {
  content: "\eb6d";
}

.rs-radio-checked:before {
  content: "\eb6e";
}

.rs-radio-checked2:before {
  content: "\eb6f";
}

.rs-radio-unchecked:before {
  content: "\eb70";
}

.rs-crop3:before {
  content: "\eb71";
}

.rs-make-group:before {
  content: "\eb72";
}

.rs-ungroup:before {
  content: "\eb73";
}

.rs-scissors2:before {
  content: "\eb74";
}

.rs-filter:before {
  content: "\eb75";
}

.rs-font:before {
  content: "\eb76";
}

.rs-ligature:before {
  content: "\eb77";
}

.rs-ligature2:before {
  content: "\eb78";
}

.rs-text-height:before {
  content: "\eb79";
}

.rs-text-width:before {
  content: "\eb7a";
}

.rs-font-size:before {
  content: "\eb7b";
}

.rs-bold:before {
  content: "\eb7c";
}

.rs-underline:before {
  content: "\eb7d";
}

.rs-italic:before {
  content: "\eb7e";
}

.rs-strikethrough:before {
  content: "\eb7f";
}

.rs-omega:before {
  content: "\eb80";
}

.rs-sigma:before {
  content: "\eb81";
}

.rs-page-break:before {
  content: "\eb82";
}

.rs-superscript:before {
  content: "\eb83";
}

.rs-subscript:before {
  content: "\eb84";
}

.rs-superscript2:before {
  content: "\eb85";
}

.rs-subscript2:before {
  content: "\eb86";
}

.rs-text-color:before {
  content: "\eb87";
}

.rs-pagebreak:before {
  content: "\eb88";
}

.rs-clear-formatting:before {
  content: "\eb89";
}

.rs-table:before {
  content: "\eb8a";
}

.rs-table2:before {
  content: "\eb8b";
}

.rs-insert-template:before {
  content: "\eb8c";
}

.rs-pilcrow:before {
  content: "\eb8d";
}

.rs-ltr:before {
  content: "\eb8e";
}

.rs-rtl:before {
  content: "\eb8f";
}

.rs-section:before {
  content: "\eb90";
}

.rs-paragraph-left:before {
  content: "\eb91";
}

.rs-paragraph-center:before {
  content: "\eb92";
}

.rs-paragraph-right:before {
  content: "\eb93";
}

.rs-paragraph-justify:before {
  content: "\eb94";
}

.rs-indent-increase:before {
  content: "\eb95";
}

.rs-indent-decrease:before {
  content: "\eb96";
}

.rs-share3:before {
  content: "\eb97";
}

.rs-new-tab:before {
  content: "\eb98";
}

.rs-embed:before {
  content: "\eb99";
}

.rs-embed2:before {
  content: "\eb9a";
}

.rs-terminal2:before {
  content: "\eb9b";
}

.rs-share2:before {
  content: "\eb9c";
}

.rs-mail6:before {
  content: "\eb9d";
}

.rs-mail2:before {
  content: "\eb9e";
}

.rs-mail3:before {
  content: "\eb9f";
}

.rs-mail4:before {
  content: "\eba0";
}

.rs-google:before {
  content: "\eba1";
}

.rs-google-plus:before {
  content: "\eba2";
}

.rs-google-plus2:before {
  content: "\eba3";
}

.rs-google-plus3:before {
  content: "\eba4";
}

.rs-google-drive:before {
  content: "\eba5";
}

.rs-facebook:before {
  content: "\eba6";
}

.rs-facebook2:before {
  content: "\eba7";
}

.rs-facebook3:before {
  content: "\eba8";
}

.rs-ello:before {
  content: "\eba9";
}

.rs-instagram:before {
  content: "\ebaa";
}

.rs-twitter:before {
  content: "\ebab";
}

.rs-twitter2:before {
  content: "\ebac";
}

.rs-twitter3:before {
  content: "\ebad";
}

.rs-feed2:before {
  content: "\ebae";
}

.rs-feed3:before {
  content: "\ebaf";
}

.rs-feed4:before {
  content: "\ebb0";
}

.rs-youtube:before {
  content: "\ebb1";
}

.rs-youtube2:before {
  content: "\ebb2";
}

.rs-youtube3:before {
  content: "\ebb3";
}

.rs-youtube4:before {
  content: "\ebb4";
}

.rs-twitch:before {
  content: "\ebb5";
}

.rs-vimeo:before {
  content: "\ebb6";
}

.rs-vimeo2:before {
  content: "\ebb7";
}

.rs-vimeo3:before {
  content: "\ebb8";
}

.rs-lanyrd:before {
  content: "\ebb9";
}

.rs-flickr:before {
  content: "\ebba";
}

.rs-flickr2:before {
  content: "\ebbb";
}

.rs-flickr3:before {
  content: "\ebbc";
}

.rs-flickr4:before {
  content: "\ebbd";
}

.rs-picassa:before {
  content: "\ebbe";
}

.rs-picassa2:before {
  content: "\ebbf";
}

.rs-dribbble:before {
  content: "\ebc0";
}

.rs-dribbble2:before {
  content: "\ebc1";
}

.rs-dribbble3:before {
  content: "\ebc2";
}

.rs-forrst:before {
  content: "\ebc3";
}

.rs-forrst2:before {
  content: "\ebc4";
}

.rs-deviantart:before {
  content: "\ebc5";
}

.rs-deviantart2:before {
  content: "\ebc6";
}

.rs-steam:before {
  content: "\ebc7";
}

.rs-steam2:before {
  content: "\ebc8";
}

.rs-dropbox:before {
  content: "\ebc9";
}

.rs-onedrive:before {
  content: "\ebca";
}

.rs-github:before {
  content: "\ebcb";
}

.rs-github2:before {
  content: "\ebcc";
}

.rs-github3:before {
  content: "\ebcd";
}

.rs-github4:before {
  content: "\ebce";
}

.rs-github5:before {
  content: "\ebcf";
}

.rs-wordpress:before {
  content: "\ebd0";
}

.rs-wordpress2:before {
  content: "\ebd1";
}

.rs-joomla:before {
  content: "\ebd2";
}

.rs-blogger:before {
  content: "\ebd3";
}

.rs-blogger2:before {
  content: "\ebd4";
}

.rs-tumblr:before {
  content: "\ebd5";
}

.rs-tumblr2:before {
  content: "\ebd6";
}

.rs-yahoo:before {
  content: "\ebd7";
}

.rs-tux:before {
  content: "\ebd8";
}

.rs-apple:before {
  content: "\ebd9";
}

.rs-finder:before {
  content: "\ebda";
}

.rs-android2:before {
  content: "\ebdb";
}

.rs-windows2:before {
  content: "\ebdc";
}

.rs-windows8:before {
  content: "\ebdd";
}

.rs-soundcloud:before {
  content: "\ebde";
}

.rs-soundcloud2:before {
  content: "\ebdf";
}

.rs-skype:before {
  content: "\ebe0";
}

.rs-reddit:before {
  content: "\ebe1";
}

.rs-linkedin:before {
  content: "\ebe2";
}

.rs-linkedin2:before {
  content: "\ebe3";
}

.rs-lastfm:before {
  content: "\ebe4";
}

.rs-lastfm2:before {
  content: "\ebe5";
}

.rs-delicious:before {
  content: "\ebe6";
}

.rs-stumbleupon:before {
  content: "\ebe7";
}

.rs-stumbleupon2:before {
  content: "\ebe8";
}

.rs-stackoverflow:before {
  content: "\ebe9";
}

.rs-pinterest:before {
  content: "\ebea";
}

.rs-pinterest2:before {
  content: "\ebeb";
}

.rs-xing:before {
  content: "\ebec";
}

.rs-xing2:before {
  content: "\ebed";
}

.rs-flattr:before {
  content: "\ebee";
}

.rs-foursquare:before {
  content: "\ebef";
}

.rs-paypal:before {
  content: "\ebf0";
}

.rs-paypal2:before {
  content: "\ebf1";
}

.rs-paypal3:before {
  content: "\ebf2";
}

.rs-yelp:before {
  content: "\ebf3";
}

.rs-file-pdf2:before {
  content: "\ebf4";
}

.rs-file-openoffice:before {
  content: "\ebf5";
}

.rs-file-word:before {
  content: "\ebf6";
}

.rs-file-excel:before {
  content: "\ebf7";
}

.rs-libreoffice:before {
  content: "\ebf8";
}

.rs-html5:before {
  content: "\ebf9";
}

.rs-html52:before {
  content: "\ebfa";
}

.rs-css3:before {
  content: "\ebfb";
}

.rs-git:before {
  content: "\ebfc";
}

.rs-svg:before {
  content: "\ebfd";
}

.rs-codepen:before {
  content: "\ebfe";
}

.rs-chrome:before {
  content: "\ebff";
}

.rs-firefox:before {
  content: "\ec00";
}

.rs-IE:before {
  content: "\ec01";
}

.rs-opera:before {
  content: "\ec02";
}

.rs-safari:before {
  content: "\ec03";
}

.rs-IcoMoon:before {
  content: "\ec04";
}
